/*request page CSS
  authors Ethan Figueredo, William Lau, Haley Welliver, Malia Lundstrom, Trey Dettmer, Jarren Calizo */

/*formats the header of the page including color and positioning*/
.headCard{
    text-align:left;
    height: 8.5%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1e1656;
    position: fixed;
    z-index: 10;
    border-bottom: solid black 2px;
}

/* Nav Bar Link Styles (takes user to other pages)*/
.navBarLinks {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5vh;
    float: right;
    margin-top: 1.5vh;
    margin-right: 2.5vw;
    margin-bottom: 1.5vh;
    font-family: 'Hattori Hanzo Light', arial;
}

/*  What happens when navbar link is hovered over*/
.navBarLinks:hover {
    background-color: #100a3a;
}

/* The navbar link of the current page (currently not used for individual page) */
.navBarLinkCurrent {
    background-color: #100a3a;
}

/*formats the footer of the page*/
.endCard{
    position:fixed;
    bottom: 0;
    
    border-top: solid black 2px;
    width: 100%;
    text-align: right;
    background-color: #1e1656;
    z-index: 10;
}

/*formats the "request" button*/
#request {
    background-color: #e7e7e7;
    margin-right: 30px;
    margin-bottom: 40px;
    cursor: pointer;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
}

/*formats the "Total Items:" text*/
h2 {
    margin-right: 30px;
    color: black;
    font-family: 'Open Sans Bold', arial;
    float: right;
}

ul {
	list-style-type: none;
}

/*formats the list of items in the user's cart*/
li {
    border: solid black 1px;
    width: 100%;
    height: 150px;
    z-index: 1;
	font-size: 30px;
}

/*formats placeholder images in cart list*/
.image {
	max-width: 60%;
	max-height: 150px;
}

.IndividualItem {
    margin-left: 150px;
	float: left;
	margin-top: -75px;
}

/*formats individual items in the user's cart*/
.items {
    position: relative;
    z-index: 99; /*for testing location*/
    margin-top: 130px;
    top: 8.5%;
}

/*formats the "Remove Item" buttons within the list of items in the user's cart*/
button {
    float: right;
}

/*formats the page's main title, "Your Request"*/
h1 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-family: 'Open Sans Bold', arial;
    font-size: 4vh;
}

/* The a selector for the UP nav bar logo*/
#upLogoLink {
    height: 100%;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
}

/* Update Size & Location Of Nav Bar Logo*/
#upNavLogo {
    max-width: 10vw;
    min-width: 5em;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

textarea {
    float: right;
}

label {
    float: right;
}

.main_image {
    height: auto;
    width: 5%;
    position: absolute;
    margin-left: 75px;
    border: black 2px solid;
    margin-top: -50px;
    z-index: 2;
}

#main_image_div {
    height: 150px;
}

.computer_image {
    height: auto;
    width: 5%;
    position: absolute;
    margin-left: 75px;
    border: black 2px solid;
    margin-top: -50px;
    z-index: 2;
}

#computer_image_div {
    height: 1px;
}

/* Remove Page Margin */
body {
    margin: 0;
    padding: 0;
    position: relative;
    /*These two lines remove weird gap on right of page */
    width: 100vw;
    overflow-x: hidden;
}


/* add space for footer */
body::after {
    content: '';
    display: block;
    height: 4%;
}


/* footer */
footer {
    background-color: #1e1656;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    text-align: center;
    display: table;
}

/* footer text */
footer p {
    margin: 100;
    padding: 0 0;
    color: #F5F5F5;
    display: table-cell;
    vertical-align: middle;
}