/* Remove Page Margin */
body {
    margin: 0;
    padding: 0;
    position: relative;
    /*These two lines remove weird gap on right of page */
    width: 100vw;
    overflow-x: hidden;
}

* {
    font-family: 'Hattori Hanzo Light', arial;
}

/* add space for footer */
body::after {
    content: '';
    display: block;
    height: 8vh;
}
/* Top Nav Bar */
.topNavBar {
    background-color: #1e1656;
    overflow-x: auto;
    position: relative;
    height: 9vh;
    display: flex;
    flex-direction: row;
    padding: 0 1em; 
}

/* Nav Bar Link  */
.navBarLink {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5vh;
    padding: 0 1.5vw;
    font-family: 'Hattori Hanzo Light', arial;
    display: inline-block;
    flex: 1;
    align-self: center;
    white-space: nowrap;
}

/* Nav Bar Link  */
.navBarLinkSpacer {
    display: inline-block;
    flex: 4;
    align-self: flex-end;
}

/*  What happens when navbar link is hovered over*/
.navBarLink:hover {
    background-color: #100a3a;
}

/* The navbar link of the current page (currently not used for individual page) */
.navBarLinkCurrent {
    background-color: #100a3a;
}

/* The a tag for the UP logo in nav bar*/
#upLogoLink {
    height: 80%;
    display: inline-block;
    flex: 1;
    margin: auto 0;
}

/* UP logo in nav bar*/
#upNavLogo {
    height: 100%;  
}



/*  Set Main Selection Bar Color */
#mainSelectionBar {
    background-color: #F5F5F5;
    position: relative;
    padding-top: .1vh;
}

/*  Set Properties of Rental Catalog Header */
#title {
    text-align: center;
    font-family: 'Open Sans Bold', arial;
    font-size: 3vh;
}

/* Alignment and positioning of the searchBar div */
.searchBar {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Alignment and positioning of the search bar, including the buttons */
.search-bar{
    width: 60%;
    padding: 5px;
    display: flex; 
}

/* search box style and size */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-right: none;
    width: 100%;
    background: #f1f1f1;
    align-items: center;
}

/* search bar button style and size */
form.search-bar button {
    width: 3em;
    padding: 10px;
    background: #3d3281;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
}

/* search bar button color when hovered*/
form.search-bar button:hover {
    background: #1e1656;
}

/* item categories container */
#categories {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    padding: 1em 0 1.2em 0;
    margin-left: 0;
    margin-right: 0; 
    gap: 1em;
    
}

/* Responsive categories */
@media only screen and (max-width: 1400px) {

    #categories {
        overflow-x: scroll;
    }
    .itemCategory {
        min-width:220px; /*14% of max-width*/
    }

    body {
        overflow-x: hidden i !important;
    }
}

/* item category */
.itemCategory {
    cursor: pointer;
    padding: 0 auto;
    transition: transform .1s;
    flex: 1;

}



/* Enlarge the item category on hover */
.itemCategory:hover {
    transform: scale(1.05);
}

/* category image */
.categoryImage{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0; 
    display: block;
}

/* title for category */
.categoryTitle {
    height: 10%;
    display: block;
    text-align: center;
    align-self: center;
    margin: .3em auto .3em auto;
    font-family: 'Hattori Hanzo Light', arial;
    font-size: 1.2em;
}

/* Item count display */
.bottomCatalogHeader {
    text-align: left;
    font-family: 'Open Sans', arial;
    padding: 30px;
}

/* Bottom catalog all items */
.bottomCatalogItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Bottom catalog item */
.bottomIndividualItem {
    min-width: 50px;
    max-width: 900px;
    cursor: pointer;
    position: relative;
    
}

/* Bottom catalog item images */
.bottomImage {
    max-width: 100%;
    
}

/* overlay enabled when item is marked for deletion */
.deletionOverlay {
    visibility: hidden;
    background: rgba(200,200,200, .9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
    font-family: 'Hattori Hanzo Light', arial;
}

/* message displayed when item is marked for deletion */
.deletionMessage {
    color: black;
}

/* undo option available once item is marked for deletion */
.undoDeletionMessage {
    color: rgb(88, 20, 151);
    cursor: pointer;
}

/* Button that deletes item */
.deleteButton {
    cursor: pointer;
    float: right;
}




/* footer */
footer {
    background-color: #1e1656;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    text-align: center;
    display: table;
}

/* footer text */
footer p {
    margin: 0;
    padding: 0 0;
    font-size: 2vh;
    color: #F5F5F5;
    display: table-cell;
    vertical-align: middle;
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* Modal content */
.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* Modal 'X' Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Popup buttons */
.popup_button {
    background-color: #1e1656;
    color:white;
}